#message.success{
    background-color: rgb(14, 48, 14);
    color: green;
}

#message.fail{
    background-color: rgb(86, 13, 13);
    color: red;
}

#message{
    background-color: rgb(93, 91, 91);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
}

body{
    background-color: blueviolet;
    font-size: 22px;
}

.message{
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: grey;
    color: aliceblue;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 20px;
    padding: 20px;
}

.card{
    background-color: rgb(41, 39, 39);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgb(20, 19, 19);

}
.status{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.stat{
    background-color: rgb(93, 91, 91);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.stat-label{
    font-size: 30px;
    margin-bottom: 2px;
}

.stat-value{
    font-size: 45px;
    margin-bottom: 5px;
    padding-right: 20px;

    word-wrap: break-word;
    word-break: break-all; /* This will break long strings like addresses */
    max-width: 250px; /* Adjust this to your preferred width */
    min-width: 0; /* Allows flex items to shrink below content size */
    flex-shrink: 1; 
}

#left{
    grid-row: 1 / 3;
    grid-column: 1;
}

#middle-top{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#middle-bottom{
    grid-row: 2;
    grid-column: 2;
}

#right{
    grid-row: 1/3;
    grid-column: 3;

}


h2{
    padding: 5px;
}
#recipients{
    background-color: rgb(93, 91, 91);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    flex: 1;
}

ul li{
    margin-bottom: 10px;
}


.address{
    background-color: rgb(55, 50, 50);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    display: flex;
    align-items: center;
    gap: 10px;
}

.send_button{
    background-color: rgb(36, 34, 34);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    color: green;
    
}

.delete_button{
    background-color: rgb(36, 34, 34);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    color: red;
}

.address-label{
    font-weight: bold;
    font-size: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    display: block;
    max-width: 200px;
    word-wrap: break-word;
}

input{
    background-color: rgb(88, 81, 81);
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
}

#address_book {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#address-list {
    flex: 1;
    margin-bottom: 15px;
    overflow-y: auto;
}

#address_input, #address_label {
    margin-bottom: 10px;
}

#address_add_button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    font-size: 20px;
}

#submit{
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    font-size: 20px;
}

.output-card{
    background-color: rgb(55, 50, 50);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipient{
    flex: 1
}

.remove-button{
    background-color: rgb(36, 34, 34);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 5px 7px rgb(20, 19, 19); 
    color: red;
}